{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'mentor/head.html' %}
  <body>
    {% include 'mentor/header.html' %}
    <main id="main">
      {% if request.resolver_match.url_name != 'index' %}
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">


          {% block breadcrumbs %}{% endblock breadcrumbs %}
        </div>
      </div>
      <!-- End Breadcrumbs -->
      {% endif %} {% block content %} {% endblock content %}
    </main>

    {% include 'mentor/footer.html' %}
  </body>
</html>
